.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 1.5em;
}

svg {
  border: 2px dotted #222;
  width: 50%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.area {
  fill: #bada55;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
