body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  font-family: RobotoLight;
}

table {
  border-collapse: collapse;
  margin: 1rem;
}

td,
th {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
  background-color: #e1e1e1;
}

td.number {
  text-align: right;
}

th {
  background-color: #c1c1c1;
}

.tick text {
  font-size: 1.5rem;
  transform: translate(-5px, 0);
}

svg {
  margin: 2rem;
  padding: 2rem 4rem;
}

@font-face {
  font-family: "RobotoLight";
  src: url("Roboto-Light.ttf");
}
