.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 1.5em;
}

svg {
  border: 2px dotted #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* The Graph */

svg {
  font-size: 14px;
  width: 90%;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
  stroke-width: 0.5px;
}

.axis path {
  display: none;
}

rect.extent {
  fill: #000;
  fill-opacity: 0.125;
  stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: 0.7;
  stroke: #aaa;
}

circle {
  fill: #ccc;
  fill-opacity: 0.5;
}

/* .legend circle {
  fill-opacity: 1;
}

.legend text {
  font-size: 18px;
  font-style: oblique;
} */

.cell text {
  pointer-events: none;
}

.red {
  fill: #800;
}

.white {
  fill: #f1f285;
}
